<app-sub-header [heading]="heading"></app-sub-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <p>We have a mixture of members so we actively try to put on different events and activities monthly that appeal to our members. We have a mixture of Monthly Events (such as our Monthly General House Meeting’s aka GHM’s, Monthly Book Club), Random Mini Socials (such as bowling, football, film club, member-only dinners), and Major Social Events (such as Summer BBQ’s, Reunion Dinners, Iri-Ji Festivals, Christmas Party, Valentine’s Ball) which are all great events aimed at making it easier to mix and network with like-minded Igbo people. To ensure you stay updated on all our events sign up to our mailing list now and check out our upcoming events.</p>
      </div>
    </div>
  </div>
</section>


<section class="sec-space">
  <div class="container">
    <div class="row filter-row">
      <div class="col-sm-12">
        <h4 class="mb-2">Find Events:</h4>

        <mat-form-field class="mr-2" appearance="outline">
          <input matInput [matDatepicker]="fromDate" placeholder="From Date" readonly>
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #fromDate></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field class="mr-3" appearance="outline">
          <input matInput [matDatepicker]="toDate" placeholder="To Date" readonly>
          <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #toDate></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="accent">Search</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 mb-4">
      </div>
    </div>

    <div class="row">
      <div *ngIf="!events?.length" class="col-sm-12 text-center">
        <app-shared-inline-loader></app-shared-inline-loader>
        <p style="margin-top: -90px">Getting Events...</p>
      </div>

      <ng-container *ngIf="events?.length">
        <div class="col-sm-6" *ngFor="let event of events">
          <div class="card mb-4">
            <img class="card-img-top" *ngIf="event?.img" [src]="event.img" [alt]="event.description">
            <div class="card-body">
              <h5 class="card-title">{{event.title}}</h5>
              <p class="card-text">{{event.description}}</p>
              <div class="text-right">
                <a mat-flat-button color="primary" [routerLink]="[event._id]">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</section>

<section class="sec-space-b"></section>