<section class="sec-space">
  <div class="container">
    <div class="row v-align">
      <div class="col-md-3">
        <figure>
          <img class="mw-100" src="assets/img/eclipe-heading.png" alt="">
        </figure>
      </div>

      <div class="col-md-9">
        <p class="mb-0 para-bold">ICSN stands for the Cultural and Support Network. We are Europe’s Leading NGO with over 2,500 members and counting for Igbo professionals aged between 21-40 living and studying in the diaspora. We are dedicated to building a culturally inclusive network of Igbo people who are passionate about the Igbo culture enough to identify with it, engage with it, support each other within it and leave behind a legacy that the community and those to come will be proud of.</p>
      </div>
    </div>
  </div>
</section>