<app-sub-header [heading]="heading"></app-sub-header>

<section class="sec-space-b">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-5" *ngFor="let product of products; index as i">
          <figure class="snip1423">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
            <figcaption>
              <h3>Product Example {{ i + 1 }}</h3>
              <!-- <p>All this modern technology just makes people try to do everything at once.</p> -->
              <div class="price">
                <s *ngIf="i % 2 == 0">$24.00</s>$19.00
              </div>
            </figcaption>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <a href="#"></a>
          </figure>
      </div>
    </div>
  </div>
</section>

<div class="mb-4"></div>

