footer {
    margin-top: -40px;
    background-color: #181818;
    .social-list {
        .social-text {
            display: inline-block;
            margin-left: 10px;
            transform: translateY(1px);
        }
    } 
    a {
        &:hover {
            text-decoration: none;
        }
    }

    .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
        color: #ffffff;
    }
}

.form-control {
    background: transparent;
    &:focus {
        // outline: none !important;
        box-shadow: none;
    }
}