<footer>
    <div class="container pt-5">
      <div class="row">
        
        <div class="col-md-2 col-sm-12 mb-3 text-center">
          <figure>
            <img class="mw-100" src="assets/img/logo-white-text.png" alt="">
          </figure>
        </div>

        <div class="col-md-8 offset-md-2 col-sm-12">
          
          <div class="col-md-4 col-sm-6 col-6 mb-3 p-0 float-left">
            <!-- <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5> -->
            <ul class="list-group">
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">About</a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">ICSN Programmes</a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">Events</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">News & Updates</a>
              </li>
            </ul>
          </div>
          
          <div class="col-md-4 col-sm-6 col-6 mb-3 p-0 float-left">
            <!-- <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5> -->
            <ul class="list-group">
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">Sponsorship</a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">Contact Us</a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">Gallery</a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">Videos</a>
              </li>
            </ul>
          </div>
          
          <div class="col-md-4 col-sm-6 col-6 mb-3 p-0 float-left">
            <!-- <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5> -->
            <ul class="list-group social-list">
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">
                  <i class="fa fa-instagram" aria-hidden="true"></i> <span class="social-text">Instagram</span>
                </a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i> <span class="social-text">FaceBook</span>
                </a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">
                  <i class="fa fa-twitter-square" aria-hidden="true"></i> <span class="social-text">Twitter</span>
                </a>
              </li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                <a mat-button color="primary" routerLink="home">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i> <span class="social-text">Linkedin</span>
                </a>
              </li>
            </ul>
          </div>

        </div>

        <div class="col-md-12">
          <mat-divider></mat-divider>
        </div>
        <div class="col-md-12">
          <div class="py-4 d-flex justify-content-center align-items-center">
            <a mat-button color="primary" routerLink="home" class="mr-4">Privacy & terms</a>
          </div>
        </div>
      </div>
    </div>
  </footer>