<footer>
    <div class="container pt-5">

      <div class="row">

        <div class="col-md-8 col-sm-12">
          
          <div class="row">
            <div class="col-sm-12 text-left">
              <figure class="mb-4">
                <img style="max-width: 80px; width: 100%; margin-left: auto; margin-right: auto" src="assets/img/logo-white-text.png" alt="">
              </figure>
            </div>

            <div class="col-md-12 mb-3">
              <mat-divider></mat-divider>
            </div>

            <div class="col-md-4 col-sm-4 col-6 mb-3 p-0 float-left">
              <ul class="list-group">
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [matMenuTriggerFor]="menu">About</a>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/about-us']">Overview</button>
                    <button mat-menu-item [routerLink]="['/our-team']">Our Team</button>
                  </mat-menu>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/icsn-programmes']">Programmes</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/events']">Events</a></li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/news-and-updates']">Kwenu News & Articles</a>
                </li>
              </ul>
            </div>
            
            <div class="col-md-4 col-sm-4 col-6 mb-3 p-0 float-left">
              <ul class="list-group">
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/get-involved']">Get Involved</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/get-involved/become-a-member']">Become a Member</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/contact-us']">Contact Us</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" routerLink="home">Media & Gallery</a>
                </li>
              </ul>
            </div>
            
            <div class="col-md-4 col-sm-4 col-6 mb-3 p-0 float-left">
              <ul class="list-group social-list">
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://www.instagram.com/icsn_uk/?hl=en">
                    <i class="fa fa-instagram" aria-hidden="true"></i> <span class="social-text">Instagram</span>
                  </a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://web.facebook.com/ICSNUK/">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i> <span class="social-text">FaceBook</span>
                  </a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://twitter.com/icsn_uk?lang=en">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i> <span class="social-text">Twitter</span>
                  </a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://www.linkedin.com/company/igbo-cultural-&-support-network">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i> <span class="social-text">Linkedin</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="col-md-4 col-sm-8 col-12 mb-3 text-center">
          <div class="row">

            <div class="col-sm-12">
              <form>
                <div class="form-group">
                  <label for="name" style="display: none"></label>
                  <input type="name" placeholder="Name" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email" style="display: none"></label>
                  <input type="email" placeholder="Email address" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="password" style="display: none"></label>
                  <input type="password" placeholder="Password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                  <label for="password" style="display: none"></label>
                  <input type="password" placeholder="Re-type Password" class="form-control" id="pwd">
                </div>
                <div class="form-group form-check text-left mb-1">
                  <label class="form-check-label">
                    <input class="form-check-input pl-0" type="checkbox">
                    <small class="text-white">I am of Igbo Ancestory?</small>
                  </label>
                </div>
                <div class="form-group form-check text-left mb-1">
                  <label class="form-check-label">
                    <input class="form-check-input pl-0" type="checkbox">
                    <small class="text-white">I agree to ICSN storing my information and using it solely for the purpose of contacting me about ICSN related activities. Read more</small>
                  </label>
                </div>
                <div class="form-group form-check text-left">
                  <label class="form-check-label">
                    <input class="form-check-input pl-0" type="checkbox">
                    <small class="text-white">I am happy to also be contacted by Igbo businesses?</small>
                  </label>
                </div>
                <a mat-raised-button class="btn-block" (click)="register()">Register</a>
              </form>
            </div>

          </div>
        </div>

        <div class="col-md-12">
          <mat-divider></mat-divider>
        </div>
        <div class="col-md-12">
          <div class="py-4 d-flex justify-content-center align-items-center">
            <a mat-button color="primary" routerLink="home" class="mr-4">Privacy & terms</a>
          </div>
        </div>
      </div>
    </div>
  </footer>