<footer>
    <div class="container pt-5">

      <div class="row v-align">

        <div class="col-md-8 col-sm-12">
          
          <div class="row">
            <div class="col-sm-12 text-left">
              <figure class="mb-4">
                <img style="max-width: 80px; width: 100%; margin-left: auto; margin-right: auto" src="assets/img/logo-white-text.png" alt="">
              </figure>
            </div>

            <div class="col-md-12 mb-3">
              <mat-divider></mat-divider>
            </div>

            <div class="col-md-4 col-sm-4 col-6 mb-3 p-0 float-left">
              <ul class="list-group">
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [matMenuTriggerFor]="menu">About</a>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/about-us']">Overview</button>
                    <button mat-menu-item [routerLink]="['/our-team']">Our Team</button>
                  </mat-menu>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/icsn-programmes']">Programmes</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/events']">Events</a></li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/news-and-updates']">Kwenu News & Articles</a>
                </li>
              </ul>
            </div>
            
            <div class="col-md-4 col-sm-4 col-6 mb-3 p-0 float-left">
              <ul class="list-group">
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/get-involved']">Get Involved</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/get-involved/become-a-member']">Become a Member</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" [routerLink]="['/contact-us']">Contact Us</a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" routerLink="home">Media & Gallery</a>
                </li>
              </ul>
            </div>
            
            <div class="col-md-4 col-sm-4 col-6 mb-3 p-0 float-left">
              <ul class="list-group social-list">
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://www.instagram.com/icsn_uk/?hl=en">
                    <i class="fa fa-instagram" aria-hidden="true"></i> <span class="social-text">Instagram</span>
                  </a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://www.facebook.com/groups/igboculturalsupportnetwork/">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i> <span class="social-text">FaceBook</span>
                  </a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://twitter.com/icsn_uk?lang=en">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i> <span class="social-text">Twitter</span>
                  </a>
                </li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a mat-button color="primary" target="_blank" href="https://www.linkedin.com/company/igbo-cultural-&-support-network">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i> <span class="social-text">Linkedin</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-12">
              <mat-divider></mat-divider>
            </div>
            <div class="col-md-12">
              <div class="py-4 d-flex justify-content-center align-items-center">
                <a mat-button color="primary" [routerLink]="['/privacy-terms']" class="mr-4">Privacy & terms</a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-4 col-sm-8 col-12 mb-3">
          <div class="row">

            <div class="col-sm-12">
              <p class="mat-hint small text-white">Sign up to receive regular email updates from us with all of our latest news, events and ways to get involved.</p>
              <form [formGroup]="signupForm">
                <div class="form-group">
                  <label for="name" style="display: none"></label>
                  <input formControlName="fname" type="name" placeholder="First Name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="name" style="display: none"></label>
                  <input formControlName="lname" type="name" placeholder="Last Name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email" style="display: none"></label>
                  <input formControlName="email" type="email" placeholder="Email address" class="form-control">
                </div>
                <div class="form-group">
                  <select name="gender" formControlName="gender" class="form-control">
                    <option value="null" hidden>Select your gender</option>
                    <option *ngFor="let gender of genders" [value]="gender.value">
                      {{gender.viewValue}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="password" style="display: none"></label>
                  <input formControlName="password" type="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password" style="display: none"></label>
                  <input formControlName="repassword" type="password" placeholder="Password" class="form-control">
                </div>

                <p class="mb-2">
                  <mat-checkbox 
                    formControlName="ancestry" 
                    [checked]="ancestry?.value" 
                    class="mat-hint small text-white">
                    I am of Igbo Ancestory?
                  </mat-checkbox>
                  <mat-checkbox 
                    formControlName="agree" 
                    [checked]="agree?.value" 
                    class="mat-hint small text-white">
                    I agree to ICSN storing my information and using it solely for the purpose of contacting me about ICSN related activities. Read more
                  </mat-checkbox>
                  <mat-checkbox 
                    formControlName="contactForBusiness" 
                    [checked]="contactForBusiness?.value" 
                    class="mat-hint small text-white">
                    I am happy to also be contacted by Igbo businesses?
                  </mat-checkbox>
                </p>

                <button mat-raised-button color="accent" class="btn-block" 
                  [disabled]="signupForm.invalid || password?.value != repassword?.value || disBtn" 
                  (click)="registerUser()">
                  Register
                </button>
              </form>
            </div>

          </div>
        </div>

        <!-- <div class="col-md-12">
          <mat-divider></mat-divider>
        </div>
        <div class="col-md-12">
          <div class="py-4 d-flex justify-content-center align-items-center">
            <a mat-button color="primary" routerLink="home" class="mr-4">Privacy & terms</a>
          </div>
        </div> -->
      </div>
    </div>
  </footer>