.filter-row {
  button {
    height: 57px;
    transform: translateY(-13px);
    max-width: 140px;
    width: 100%;
  }
}

.card-text {
  text-overflow: ellipsis;
//   min-height: 100px;
  height: 120px;
  overflow: hidden;
}