<!-- <header class="bg-light pt-3"> -->
<header class="mt-2 mb-2">
  
  <div class="container">
    <!-- logo and social share section -->
    <div class="row">
      <div class="col-md-2">
        <figure>
          <img class="mw-100" style="width: 81px;" src="assets/img/logo-white-text.png" alt="ICSN">
        </figure>
      </div>

      <div class="col-md-10">
        
        <div class="row">
          <div class="col-12 text-right mt-2 mb-1">
            <button class="mr-1" mat-raised-button color="primary">
              Registration
            </button>
            
            <button class="mr-1" mat-raised-button color="primary">
                Login
            </button>
            
            <button class="mr-1" mat-raised-button color="accent">
                ICSN Shop
            </button>

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </mat-icon>
            </button>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-12 text-right">

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </mat-icon>
            </button>

          </div>
        </div> -->

        <div class="row">
          <div class="col-sm-12">
              <nav class="navbar navbar-expand-lg navbar-light">
                <!-- navigation -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" mat-flat-button routerLink="home">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" mat-flat-button routerLink="home">ICSN Programmes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" mat-flat-button routerLink="home">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" mat-flat-button routerLink="home">News & Updates</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" mat-flat-button routerLink="home">Sponsorship</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" mat-flat-button routerLink="home">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <!-- navigation ends -->
              </nav>
          </div>
        </div>
        

      </div>
      <!-- logo and social share section ends -->
    </div>
  </div>
  
  <!-- <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" mat-button routerLink="home">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-button routerLink="home">ICSN Programmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-button routerLink="home">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-button routerLink="home">News & Updates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-button routerLink="home">Sponsorship</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-button routerLink="home">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav> -->

</header>