.sticky {
    position: fixed;
}

nav {
    padding: 0;
}

.navbar-nav {
    .nav-item {
        margin-right: 8px;
        &::before {
            content: '|';
            font-size: 18px;
            margin-right: 8px;
            color: rgba(0,0,0,.5);
        }
        &:first-child {
            margin-left: 0;
            &::before {
                content: '';
                margin: 0;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .nav-link {
        position: relative;
        color: #181818;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding: 0 5px;
        margin: 0 5px;
        background-color: transparent;
        transition: all ease 0.35s;
        &:hover {
            background-color: transparent !important;
            color: #2d521d;
            transition: all ease 0.35s;
        }
    }
}

mat-card.sub-dropdown.mat-card {
    z-index: 9;
    position: absolute;
    top: calc(100% + 13px);
}


.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}