<mat-toolbar>

  <span class="spacer"></span>

  <span>

    <span class="nav-links mr-3">
      <a>ICSN Shop</a>
      <span class="mr-1 ml-1">|</span>
      <a>Login</a>
      <span class="mr-1 ml-1">|</span>
      <a>Signup</a>
    </span>

    <mat-icon aria-label="ICSN Instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </mat-icon>

    <mat-icon aria-label="ICSN Facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </mat-icon>

    <mat-icon aria-label="ICSN Twitter">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </mat-icon>

    <mat-icon aria-label="ICSN Linkedin">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </mat-icon>

  </span>
</mat-toolbar>
