<mat-toolbar>

  <span class="spacer"></span>

  <span>

    <span class="nav-links mr-3">
      <!-- <a [routerLink]="[ '/shop' ]">ICSN Shop</a> -->
      
      <ng-container *ngIf="!show">
        <!-- <span class="mr-1 ml-1">|</span> -->
        <a (click)="openLoginComponent()">Login</a>
        <span class="mr-1 ml-1">|</span>
        <a (click)="openSignupComponent()">Sign Up</a>
      </ng-container>

      <ng-container *ngIf="show">
        <!-- <span class="mr-1 ml-1">|</span> -->
        <a [matMenuTriggerFor]="menu">Profile</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/my-profile']">My Profile</button>
        </mat-menu>
        <span class="mr-1 ml-1">|</span>
        <a (click)="logout()">Logout</a>
      </ng-container>
    </span>

    <mat-icon (click)="redirectSocial('https://www.instagram.com/icsn_uk/?hl=en')" aria-label="ICSN Instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </mat-icon>

    <mat-icon (click)="redirectSocial('https://www.facebook.com/groups/igboculturalsupportnetwork/')" aria-label="ICSN Facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </mat-icon>

    <mat-icon (click)="redirectSocial('https://twitter.com/icsn_uk?lang=en')" aria-label="ICSN Twitter">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </mat-icon>

    <mat-icon (click)="redirectSocial('https://www.linkedin.com/company/igbo-cultural-&-support-network')" aria-label="ICSN Linkedin">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </mat-icon>

  </span>
</mat-toolbar>
