<app-sub-header [heading]="heading"></app-sub-header>

<!-- <section><div class="row"><div class="col-sm-12">
    <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
    <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
    <div id="paypal-checkout-btn"></div>
</div></div></section> -->

<div class="background">
    <div class="container">
        <div class="panel pricing-table">
        
        <div class="pricing-plan">
            <h5 class="pricing-header">Register for Non-Igbo Associate Membership</h5>
            <ul class="pricing-features pl-0">
                <li class="pricing-features-item"><p>Annual Access to All Events, Discounts, support and eligibility to vote at elections only.</p></li>
            </ul>
            <span class="pricing-price">£35</span>
            <a 
                target="_blank"
                [href]="'https://goo.gl/BwfYaE'"
                mat-flat-button color="primary" 
                class="text-uppercase btn-block mt-4"
                style="height: 50px; line-height: 50px; background-color: #fefefe; color: #106a36; border: 1px solid #106a36;">
                Register
            </a>
        </div>
        
        <div class="pricing-plan">
            <h5 class="pricing-header">Register for Igbo Heritage Membership</h5>
            <ul class="pricing-features pl-0">
                <li class="pricing-features-item"><p>Annual Access to All Events, Discounts, support and eligibility to vote and be elected as an executive and trustee.</p></li>
            </ul>
            <span class="pricing-price">£35</span>
            <a 
                target="_blank"
                [href]="'https://goo.gl/BwfYaE'"
                mat-flat-button color="primary" 
                class="text-uppercase btn-block mt-4"
                style="height: 50px; line-height: 50px; background-color: #106a36">
                Register
            </a>
        </div>
        
        <div class="pricing-plan">
            <h5 class="pricing-header">Register for Business Membership</h5>
            <ul class="pricing-features pl-0">
                <li class="pricing-features-item"><p>Annual listing on the Business Directory, Access to business advise, business shout out in 1 of the monthly business updates (Not as a featured business).</p></li>
            </ul>
            <span class="pricing-price">£45</span>
            <a 
                target="_blank"
                [href]="'https://goo.gl/BwfYaE'"
                mat-flat-button color="primary" 
                class="text-uppercase btn-block mt-4"
                style="height: 50px; line-height: 50px; background-color: #fefefe; color: #106a36; border: 1px solid #106a36;">
                Register
            </a>
        </div>
        
        </div>
    </div>
</div>

<section class="sec-space-b">
    <div class="container" style="padding-top: 0;">
        <div class="panel pricing-table text-center">
            <p 
                style="
                background: #106a36;
                font-family: Roboto,'Helvetica Neue',sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;"
                class="d-block text-white col-sm-12 pt-2 pb-2 m-0">
                <a 
                    [routerLink]="[ '../../', 'sponsorship' ]"
                    mat-button color="primary" 
                    class="pr-0 text-bold"
                    style="color: #fefefe; line-height: 20px;">
                    Become a Sponsor
                </a>
                 to leverage ICSN’s network to raise brand awareness and create preference for your organisation
            </p>
        </div>
    </div>
</section>

<section class="sec-space-b"></section>
