<!-- <section class="sec-space-b" id="banner" *ngIf="isBrowser &&  !loading">
    <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        interval="5000"
        color="accent"
        maxWidth="auto"
        proportion="25"
        slides="5"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
        >
        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let image of images; let i = index"
            overlayColor="#00000000"
            [image]="image.link | safe: 'url'"
            [hideOverlay]="false"
        ></mat-carousel-slide>
    </mat-carousel>
</section> -->

<ng-container *ngIf="isBrowser">

    <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="imgData">
        <ngu-tile *nguCarouselDef="let item; let i = index; let ani = animate"> 
        <!-- [@slider]="ani" PLease this animation to this tile to see animation. stackblitz have error with animations -->
        <div class="tile" [style.background]="'url('+item+')'">
        </div>
        </ngu-tile>
    
        <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
        <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
    </ngu-carousel>

</ng-container>