.container {
    width: 100%;
    max-width: 800px;
}

.jumbotron {
    position: relative;
    width: 100%;
    background-size: cover !important;
    background-position: top center !important;
    z-index: 1;
    border-radius: 4px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(45, 82, 29, 0.7);
        z-index: 0;
        border-radius: 4px;
    }
    .content-area {
        position: relative;
        z-index: 2;
        color: #ffffff;
        h2 {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

.bg-gradient {
    background: #076633;
    background: linear-gradient(to bottom, #076633 0%, #f292008c 65%);
    background: -moz-linear-gradient(top, #076633 0%, #f292008c 65%);
    background: -webkit-linear-gradient(top, #076633 0%,#f292008c 65%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
}

.bg-diff {
    &::before {
        background: rgba(45, 82, 29, 0.4) !important;
    }
}

@media (max-width: 991px) {
    .content-area {
        h4 {
            font-size: 27px;       
        }
    }
}

@media (max-width: 767px) {
    .content-area {
        h2, h4 {
            font-size: 40px;      
        }
    }
}