<section class="sec-space">

  <div class="container">
    <div class="row">

      <div class="jumbotron text-center" [ngStyle]="{background: 'url(' + program.img + ')'}">
        <div class="content-area">
          <h2 class="text-white">{{ program.heading }}</h2>
          <p class="lead">{{ program.content }}</p>
          <hr class="my-4">
          <p class="lead text-center">
            <button mat-raised-button color="accent" class="text-uppercase">Learn More</button>
          </p>
        </div>
      </div>

    </div>
  </div>

</section>