figure::focus {
  outline: none
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  background: #ffffff !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky {
  position: fixed;
  z-index: 101;
  width: 100%;
  float: left;
  /* padding-right: 8px; */
}

.top-spacer {
  margin-bottom: 94px
}

:host >>> .content {
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: auto !important;
}

@media (max-width: 600px) {
  .top-spacer {
    margin-bottom: 86px
  }
}