<!-- <app-top-toolbar></app-top-toolbar> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav"
      color="primary"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->

    <mat-nav-list>
      <a class="nav-link" mat-list-item [routerLink]="['/home']" (click)="drawer.toggle()">Home</a>
      <a class="nav-link" mat-list-item [routerLink]="['/about-us']" (click)="drawer.toggle()">About Us</a>
      <a class="nav-link" mat-list-item [routerLink]="['/icsn-programmes']" (click)="drawer.toggle()">ICSN Programmes</a>
      <a class="nav-link" mat-list-item [routerLink]="['/events']" (click)="drawer.toggle()">Events</a>
      <a class="nav-link" mat-list-item [routerLink]="['/news-and-updates']" (click)="drawer.toggle()">News & Updates</a>
      <a class="nav-link" mat-list-item [routerLink]="['/sponsorship']" (click)="drawer.toggle()">Sponsorship</a>
      <a class="nav-link" mat-list-item [routerLink]="['/contact-us']" (click)="drawer.toggle()">Contact Us</a>
    </mat-nav-list>
    
  </mat-sidenav>
  
  <mat-sidenav-content>

    <div class="sticky" style="position: fixed; z-index: 99; width: 100%; float: left; padding-right: 16px;">
      <app-top-toolbar></app-top-toolbar>

      <mat-toolbar>
        <span>
          <figure [routerLink]="['/home']" style="cursor: pointer">
            <img class="mw-100" style="width: 54px;" src="assets/img/logo-black-text.png" alt="ICSN">
          </figure>
        </span>

        <span class="spacer"></span>

        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <app-header></app-header>
    
    </mat-toolbar>

  </div>

    <!-- Add Content Here -->
    <div id="topview"></div>
    <div style="margin-bottom: 94px"></div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
