<app-sub-header [heading]="heading"></app-sub-header>

<section class="sec-space">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">

        <form [formGroup]="contactForm">
          
          <div class="form-group">
            <mat-form-field style="width: 100%">
              <input formControlName="name" matInput placeholder="Name">
            </mat-form-field>
          </div>
          
          <div class="form-group">
            <mat-form-field style="width: 100%">
              <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
          </div>
          
          <div class="form-group">
            <mat-form-field style="width: 100%">
              <input formControlName="company" matInput placeholder="Company">
            </mat-form-field>
          </div>
          
          <div class="form-group">
            <mat-form-field style="width: 100%">
              <textarea formControlName="comment" matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
          </div>
          
          <div class="form-group">
            <mat-checkbox formControlName="agree">Would you like to receive emails from us?</mat-checkbox>
          </div>

          <div class="text-right">
            <button mat-raised-button color="accent">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<section class="sec-space-b"></section>
