<app-sub-header [heading]="heading"></app-sub-header>

<section class="sec-space">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4 class="mb-4">In-Person</h4>
        <p>
          We hold meetings at-least once every month (in London) and it’s a great opportunity to get to know what we’re about and our future plans.
        </p>
        <p>
          Keep an eye on our Events page for details of when these meetings (and other events we’re involved with) occur.
        </p>
        
        <h4 class="mb-4 pt-4">Via Email</h4>
        <p>
          You can contact us directly by filling in this form and a member of the Executive team will be in touch.
        </p>
      </div>

      <div class="col-md-6 offset-md-1">

        <form [formGroup]="contactForm">
          
          <p class="mb-2">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
                <mat-hint>Name is required!</mat-hint>
              </mat-form-field>
            </p>
            
            <p class="mb-2">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
                <mat-hint>Email is required!</mat-hint>
              </mat-form-field>
            </p>
            
            <p class="mb-2">
              <mat-form-field appearance="outline">
                <mat-label>Subject or Purpose</mat-label>
                <input matInput>
                <mat-hint>Email is required!</mat-hint>
              </mat-form-field>
            </p>
            
            <p class="mb-2">
              <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput>
                <mat-hint>Company is optional</mat-hint>
              </mat-form-field>
            </p>
            
            <p class="mb-2">
              <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input matInput>
                <mat-hint>Contact Number is optional</mat-hint>
              </mat-form-field>
            </p>
            
            <p class="mb-2">
              <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <textarea matInput></textarea>
                <mat-hint>Comment is required!</mat-hint>
              </mat-form-field>
            </p>

            <button style="height:53px" class="btn-block" mat-flat-button color="accent">Send</button>

        </form>


      </div>
    </div>
  </div>
</section>

<section class="sec-space-b"></section>
