a {
    &:hover {
        text-decoration: none;
    }
}

mat-card-content {
    text-overflow: ellipsis;
    height: 110px;
    overflow: hidden;
}

.header-image {
    background-image: url('./../../../../../assets/img/logo-black-text.png');
    background-size: cover;
}

.cardImgs {
    background-size: cover !important;
    background-position: center !important;
    min-height: 220px;
}

.card-footer {
    background-color: transparent;
}

.mar-zero {
    margin-left: -15px !important;
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}