<!-- <div class="sec-wrapper mx-auto text-center mt-5">
  <div class="top-border-head">
    <h2 class="pb-3">About Us</h2>
  </div>
</div> -->
<app-sub-header [heading]="heading"></app-sub-header>

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-12" *ngIf="(data$ | async)?.data as data; else loading">
        <div [innerHTML]="data.content"></div>
      </div>

      <ng-template #loading>
        <div class="col-sm-12 text-center">
          <app-shared-inline-loader></app-shared-inline-loader>
        </div>
      </ng-template>
      
    </div>
  </div>
</section>


<section class="sec-space" id="banner">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="card-group row">
          
          <ng-container *ngIf="(data$ | async)?.data?.programs as programs; else loading">
            <div class="col-md-4" *ngFor="let program of programs">
              <app-shared-cards-without-image
                [data]="program">
              </app-shared-cards-without-image>
            </div>
            <ng-template #loading>
              <div class="col-sm-12 text-center">
                <app-shared-inline-loader></app-shared-inline-loader>
              </div>
            </ng-template>
          </ng-container>
          
          
        </div>
      </div>

    </div>
  </div>
</section>

<section class="sec-space-b"></section>