.sec-wrapper {
    max-width: 840px;
    .top-border-head {
        position: relative;
        h2 {
            padding-top: 30px;
            &::before {
                content: '';
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                height: 8px;
                width: 92%;
                background-color: #cecece;
                background-color: #2d521d;
            }
        }
    }
}

@media (max-width: 767px) {
    .sec-wrapper {
        h2 {
            font-size: 42px;
            padding-top: 20px !important;
            padding-right: 15px;
            padding-left: 15px;
            line-height: 46px;
            &::before {
                height: 6px !important;
            }
        }
    }
}

@media (max-width: 567px) {
    .sec-wrapper {
        h2 {
            font-size: 36px;
        }
    }
}