<app-sub-header [heading]="heading"></app-sub-header>

<section class="sec-space">
  <div class="container">
    
    <form [formGroup]="editForm" class="row" *ngIf="showForm">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 mb-5">
        

        <p class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="displayName" matInput>
            <mat-hint>Name can not be changed once account created.</mat-hint>
          </mat-form-field>
        </p>
        
        <p class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            <mat-hint>Email is required!</mat-hint>
          </mat-form-field>
        </p>
        
        <p class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Heritage state of origin</mat-label>
            <mat-select formControlName="stateOfOrigin">
              <mat-option *ngFor="let state of states" [value]="state.value">
                {{state.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>Heritage state of origin is optional!</mat-hint>
          </mat-form-field>
        </p>
        
        <p class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <mat-select formControlName="age">
              <mat-option *ngFor="let age of ages" [value]="age.value">
                {{age.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>Contact Number is optional!</mat-hint>
          </mat-form-field>
        </p>
        
        <p class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>Gender is optional!</mat-hint>
          </mat-form-field>
        </p>
        
        <p class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input formControlName="contactNumber" matInput>
            <mat-hint>Contact Number is optional!</mat-hint>
          </mat-form-field>
        </p>
        
        <p class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
            <mat-hint>Address is optional!</mat-hint>
          </mat-form-field>
        </p>

        <button class="mt-2" mat-flat-button color="accent" (click)="saveChanges()">Save Changes</button>
            
      </div>
    </form>

    <div class="row" *ngIf="!showForm">
      <div class="col-sm-12 text-right">
        <app-shared-inline-loader></app-shared-inline-loader>
      </div>
    </div>
  </div>
</section>
