<span *ngIf="programData && programData.banner; then imageTemp; else otherTemp"></span>

<ng-template #imageTemp>
  <div class="jumbotron" [ngStyle]="{'background' : 'url('+ programData.banner.link +')'}"></div>
</ng-template>

<ng-template #otherTemp>
  <span *ngIf="data; then bannerTemp; else nothingTemp"></span>

  <ng-template #bannerTemp>
    <div class="jumbotron text-center bg-gradient">
      <h4 class="text-white">{{programData ? programData.title : ''}}</h4>
      <p class="lead text-white">{{programData ? programData.description : ''}}</p>
    </div>
  </ng-template>
  <ng-template #nothingTemp></ng-template>
  
</ng-template>


<section *ngIf="programData" class="sec-space-b">
  <div class="container box-content mb-5" style="margin-top: -65px;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">{{programData ? programData.title : ''}}</h1>
        <p class="lead">{{programData ? programData.description : ''}}</p>
        <hr class="my-4">
        <!-- main content -->
        <div class="row">
          <div class="col-md-7">
            <div class="content" [innerHTML]="programData ? (programData.html | safe: 'html') : ''"></div>
          </div>
          <div class="col-md-5">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZEYN5SIPpXY?rel=0" allowfullscreen></iframe>
            </div>
            
            <div class="mt-3 mb-3"></div>
            
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W2z3YjyPnrk?rel=0" allowfullscreen></iframe>
            </div>
            
            <div class="mt-3 mb-3"></div>
    
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dCWe3nmFk18?rel=0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="!programData">
  <div class="jumbotron text-center bg-gradient">
  <app-shared-inline-loader></app-shared-inline-loader>
  </div>
  <section class="sec-space-b">
      <div class="container box-content mb-5" style="margin-top: -65px;">
          <div class="row">
          <div class="col-md-12">
              <app-shared-inline-loader></app-shared-inline-loader>
          </div>
          </div>
      </div>
  </section>
</div>