<section class="sec-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-shared-section-header
          [detail]="detail">
        </app-shared-section-header>
      </div>

      <div class="col-md-12">
        <div class="card-group">
          <div 
            *ngFor="let post of posts | slice:0:3"
            class="col-md-4 pt-4">
            <app-shared-card-image-content
              [post]="post"
              [routerUrl]="getRouterUrl(post)"
            >
            </app-shared-card-image-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>