.sec-wrapper {
    max-width: 840px;
    .top-border-head {
        position: relative;
        h2 {
            padding-top: 30px;
            &::before {
                content: '';
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                height: 8px;
                width: 92%;
                background-color: #cecece;
                background-color: #2d521d;
            }
        }
        p {

        }
    }
}