<app-sub-header [heading]="heading"></app-sub-header>

<div class="background">
    <div class="container">
        <div class="panel pricing-table">
        
        <div class="pricing-plan">
            <h5 class="pricing-header">Plan One</h5>
            <ul class="pricing-features">
            <li class="pricing-features-item">Blessings</li>
            <li class="pricing-features-item">Free Dance Classes</li>
            </ul>
            <span class="pricing-price">£10</span>
            <a href="#/" class="pricing-button">I am Down</a>
        </div>
        
        <div class="pricing-plan">
            <h5 class="pricing-header">Plan Two</h5>
            <ul class="pricing-features">
            <li class="pricing-features-item">Blessings</li>
            <li class="pricing-features-item">Free Dance & Cooking Classes</li>
            </ul>
            <span class="pricing-price">£20</span>
            <a href="#/" class="pricing-button is-featured">I am Down</a>
        </div>
        
        <div class="pricing-plan">
            <h5 class="pricing-header">Plan Three</h5>
            <ul class="pricing-features">
            <li class="pricing-features-item">Blessings</li>
            <li class="pricing-features-item">Discounts</li>
            </ul>
            <span class="pricing-price">£35</span>
            <a href="#/" class="pricing-button">I am Down</a>
        </div>
        
        </div>
    </div>
</div>

<section class="sec-space-b"></section>
