<app-sub-header [heading]="heading"></app-sub-header>

<section class="sec-space-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>ICSN thanks our distinguished sponsors for their generous and continued support. Without you, our 17 years’ worth of hard work would not be possible.</p>
                <p>ICSN is a non-profit organisation run by a group of volunteers who strive to build upon the continual growth of the organisation. Sponsors play a huge part in the success of our events and the growth of our organisation.</p>
                <p>Sponsoring a recognised organisation like ICSN can improve and strengthen a brands image within the community as well as increasing established loyalties. Money raised through sponsorship is put towards event running costs and ensuring they are well promoted and ultimately successful. Excess funds raised are put towards furthering work in local projects and communities.</p>
                <p>We believe our members and audience are the type that your company targets in an area of its business, therefore sponsorship of the events will allow you to showcase your brand to a relevant group, not only from the event but also through our channels of promotion such as social media, press, television and radio.</p>
                <p>Along with the opportunity to promote and advertise your brand through high visibility placements there will be a number of networking opportunities available. At the events themselves we can also offer sponsors space for a stand in the networking area and the opportunity to speak to attendees.</p>

                <app-sub-header [heading]="'WHAT WE DO'"></app-sub-header>

                <p>Through our growth and the changes in society we have seen our role within the Igbo community drastically changed from solely being a digital networking group to now providing various modes of support and opportunities for our members which include:</p>

                <h5>Business:</h5>
                <p>The Igbo people are known for their “Inherited sense of business”, and that is why we are so proud of the backgrouds of the people we can happily call our members. Our members include, Doctors, Lawyers, Architects, Nurses, Fitness Coaches, Teachers, Sales and Marketing Specialists to name but a few. This wealth of knowledge and experience is what we pull from to help. Throughout the year we offer several opportunities to local and startup businesses to enable them to promote and offer their services to our members.</p>

                <h5>Education:</h5>
                <p>Igbo culture is the foundation of our organisation, and we believe in the spreading and development of our members and friends, this is why we actively host language schools, dance schools, cooking schools, book clubs, museum visits, theatre performances, social events and monthly meetings.</p>

                <h5>Mentoring:</h5>
                <p>Pulling from the resources that our members bring to the table is a key factor for us at ICSN. We see ourselves as a community, one that is all about the development of all  our members and part of this is us having a mentoring programme in place . We do simple Need Analysis to find the best Mentors for our Mentees (especially for those looking to progress within their chosen careers or those who are looking to go into Business on their own).</p>

                <h5>Charity:</h5>
                <p>With the majority of our members being first or second generation Nigerians in the UK we value the importance of giving something back. Several times throughout the financial year we organise (host) and participate in fundraisers events especially those that are raising money for charities based in Nigeria.</p>

                <h4>BECOME AN EVENT SPONSOR</h4>
                <p>As a way of keeping in regular touch with our members, and for them to keep in touch with each other we at ICSN host several events throughout the month and the year. Which can all be fantastic platforms for us to promote you and your business. For example you and your company could sponsor some of our events which include;</p>

                <ul>
                    <li>Our Monthly Meetings</li>
                    <li>Our Quarterly Language, Cooking and Dance Schools</li>
                    <li>Our Welfare and Support Team</li>
                    <li>Our Internal Mentoring Programme</li>
                    <li>Our Business Networking Events</li>
                    <li>Our Organised Cultural Events and Trips (Local and International)</li>
                    <li>L-O-V-E Fundraising Event (Raising money for Igbo charities and communities)</li>
                    <li>N-I-C-E Awards Ceremony (Highlighting and Recognising  Influential people doing things for Wider Igbo Community)</li>
                    <li>Our Sports Day (Supporting Health and Fitness)</li>
                    <li>Our Summer BBQ (Family Event)</li>
                    <li>Our Iri-Ji (New Yam Festival)</li>
                    <li>Our Christmas Party</li>
                </ul>

                <h4>WHY WE NEED SPONSORSHIP</h4>
                <p>As you can image all of these activities requires not only a lot of work and time but most importantly funding. We are fully aware that if it wasn’t for the wonderful and generous sponsors and donations that we have received over the last 17 years we at ICSN would simply not be where we are today.</p>
                <p>Having your sponsorship and support would seriously mean the world not only to us but to our members both locally and internationally, as it will enable us to continue giving back and supporting our members, the wider Igbo Communities in the UK as well as to all the other communities we support and are a part of.</p>
                <p>If you are interested in becoming an official sponsor of ICSN or any off our upcoming events then please contact us at business@icsn.co.uk where one of our executives will forward onto you our sponsorship pages highlighting the various sponsorship packages available.</p>
            </div>
        </div>
    </div>
</section>

<section class="sec-space-b"></section>
