<span *ngIf="data && data.banner; then imageTemp; else otherTemp"></span>

<ng-template #imageTemp>
  <div class="jumbotron" [ngStyle]="{'background' : 'url('+ data.banner.link +')'}"></div>
</ng-template>

<ng-template #otherTemp>
  <span *ngIf="data; then bannerTemp; else nothingTemp"></span>

  <ng-template #bannerTemp>
    <div class="jumbotron text-center bg-gradient">
      <h4 class="text-white">{{data ? data.title : ''}}</h4>
      <p class="lead text-white">{{data ? data.description : ''}}</p>
    </div>
  </ng-template>
  <ng-template #nothingTemp></ng-template>
  
</ng-template>


<section *ngIf="data" class="sec-space-b">
  <div class="container box-content mb-5" style="margin-top: -65px;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">{{data ? data.title : ''}}</h1>
        <mat-chip-list *ngIf="data && data.tags">
          <mat-chip *ngFor="let tag of data.tags">{{tag}}</mat-chip>
        </mat-chip-list>
        <p class="lead">{{data ? data.description : ''}}</p>
        <hr class="my-4">
        <div class="content" [innerHTML]="data ? (data.html | filterHtml | safe: 'html') : ''"></div>
      </div>
    </div>
  </div>
</section>