<!-- spinner one -->
<!-- <div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div> -->
<!-- spinner one ends -->

<!-- spinner two -->
<!-- <div class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div> -->
<!-- spinner two ends -->

<!-- spinner three -->
<!-- <div class="spinner">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div> -->
<!-- spinner three ends -->

<!-- spinner four -->
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<!-- spinner four ends -->

