<app-sub-header [heading]="heading"></app-sub-header>

<section class="sec-space">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 mb-5">
        <mat-card style="background: #fbfcfb">

          <mat-list *ngIf="show">
            <!-- <div>
              <img 
                src="assets/ezim.PNG" 
                class="rounded mx-auto d-block mb-3" 
                style="max-width: 150px; width: 100%; max-height: 150px" 
                alt="placeholder">
            </div>
            <mat-divider></mat-divider> -->

            <h3 mat-subheader>Name</h3>
            <mat-list-item>
              <h4 mat-line>{{ profile?.displayName }}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            
            <h3 mat-subheader>Email</h3>
            <mat-list-item>
              <h4 mat-line>{{ profile?.username }}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            
            <ng-container *ngIf="profile?.contactNumber">
              <h3 mat-subheader>Phone Number</h3>
              <mat-list-item>
                <h4 mat-line>{{ profile?.contactNumber }}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
            
            <ng-container *ngIf="profile?.stateOfOrigin">
              <h3 mat-subheader>State Of Origin</h3>
              <mat-list-item>
                <h4 mat-line>{{ profile?.stateOfOrigin }}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
            
            <ng-container *ngIf="profile?.age">
              <h3 mat-subheader>Age</h3>
              <mat-list-item>
                <h4 mat-line>{{ profile?.age }}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
            
            <ng-container *ngIf="profile?.gender">
              <h3 mat-subheader>Gender</h3>
              <mat-list-item>
                <h4 mat-line>{{ profile?.gender }}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
            
            <ng-container *ngIf="profile?.address">
              <h3 mat-subheader>Address</h3>
              <mat-list-item>
                <h4 mat-line>{{ profile?.address }}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>

            <h3 class="pt-2"></h3>
            <mat-list-item>
              <a mat-flat-button color="accent" class="mx-auto d-block" style="max-width: 200px; width: 100%; height: 53px; line-height: 53px" [routerLink]="['/edit-profile']">Edit Profile</a>
            </mat-list-item>
          </mat-list>

          <div style="height: 500px" class="text-center v-align" *ngIf="!show">
            <app-shared-inline-loader></app-shared-inline-loader>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</section>

